<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div *ngIf="user" class="card bg-white rounded">
                <img [src]="user.photoUrl?user.photoUrl:'./assets/img/not-found.jpg'" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        {{user.firstName+" "+user.lastName}}<br>
                        {{user.email}}<br>

                    </p>
                </div>
            </div>
            <div class="bg-white rounded mt-3">
                <ul class="list-group bg-white">
                    <li class="list-group-item" style="cursor: pointer;" data-bs-toggle="modal"
                        data-bs-target="#updateMyInformation" (click)="getUser()">Bilgileri Güncelle</li>
                    <li class="list-group-item" style="cursor: pointer;" data-bs-toggle="modal"
                        data-bs-target="#updateMyPhoto">Profil Fotoğrafı Değiştir</li>
                    <li class="list-group-item" style="cursor: pointer;" data-bs-toggle="modal"
                        data-bs-target="#changePassword" (click)="getUser()">Şifre Değiştir</li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="bg-white rounded p-3">
                <div *ngFor="let item of posts" class="mb-3">
                    {{item.content}}
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="user" class="modal fade" id="updateMyInformation" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Bilgileri Güncelle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #updateInformationForm="ngForm" (ngSubmit)="updateInformation()">
                    <div class="mb-3">
                        <label class="form-label">Kullanıcı Adı</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="user.username" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ad</label>
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Soyad</label>
                        <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" [disabled]="updateInformationForm.invalid"
                            class="btn btn-primary">Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateMyPhoto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Profil Fotoğrafı Değiştir</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #updatePhotoFrm="ngForm" (ngSubmit)="updatePhoto(photoUrl.files[0])">
                    <div class="mb-3">
                        <input type="file" class="form-control" name="photoUrl" ngModel #photoUrl required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" [disabled]="!updatePhotoFrm.valid"
                            class="btn btn-primary">Güncelle</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="changePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Şifre Değiştir</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">

                    <div class="mb-3">
                        <label class="form-label">Yeni Şifre</label>
                        <input type="password" class="form-control" formControlName="newPassword">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Yeni Şifre Tekrar</label>
                        <input type="password" class="form-control" formControlName="confirmPassword">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" [disabled]="changePasswordForm.invalid"
                            class="btn btn-primary">Güncelle</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>